<section class="subscribe py-6">
    <div class="container flex justify-center items-center">
        <div>
            <img src="/img/pizza.png" alt="Ras-Berry" />
        </div>
        <div class="text-white">
            <h2 class="text-lg">
                Subscribe to your newsletter
            </h2>
            <p>
                Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                web sites still in their infancy.
            </p>
            <button class="">Know More</button>
        </div>
    </div>
</section>