<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food-App</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <!-- Creating navbar -->
    <nav class="container mx-auto flex items-center justify-between py-4">
        <!-- Create Logo -->
        <div>
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>

        <!-- Create a menu -->
        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="/">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <% if(user) { %>
                <li class="ml-6">
                    <form id="logout" action="/logout" method="post" ></form>
                    <a onclick="document.getElementById('logout').submit()" href="#">LogOut</a></li>  
                <% }else { %>              
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
                <% } %>

                <li class="ml-6 ">
                    <!-- a tag bydefault is set to the "inline" but we need to set inline-block for providing height and width to a tag -->
                    <a href="/cart" class="inline-block flex items-center px-4 py-2 rounded-full">
                        <span id="cartCounter" class="text-gray-700 font-bold pr-2"><%= session.cart ? session.cart.totalQty : '' %></span> <!--get session {} from global variable res.locals.session -->
                        <img src="/img/cart.png" alt="cart">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

        <%- body %>
    <script src="/js/app.js"></script>
</body>
</html> 